@let options = options$ | async;

<ul class="menu">
    @for (option of options; track option.id) {
        <li class="option">
            @if (option.isActive) {
                <a class="option__link option__link--active" [routerLink]="option.link" (click)="click()">
                    {{ option.label }}
                </a>
            } @else {
                <a class="option__link option__link--inactive">
                    {{ option.label }}
                </a>
            }
        </li>
    }
</ul>