.wrapper {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  width: 32px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &__line {
    height: 5px;
    background-color: var(--color-surface);
    border-radius: 5px;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  &--open {
    .hamburger__line {
      &:nth-child(1) {
        transform: translateY(10.5px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-10.5px) rotate(-45deg);
      }
    }
  }
}