<p-table [value]="items()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            @for (column of columns(); track column.id) {
                @if (column.isVisible) {
                    <th>{{ column.label }}</th>
                }
            }
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template #body let-item>
        <tr>
            @for (column of columns(); track column.id) {
                @if (column.isVisible) {
                    <td>{{ item[column.id] }}</td>
                }
            }
            <td>
                <!-- <button-dumb-component label="Delete" severity="danger" (event)="onDelete(item.id)"></button-dumb-component> -->
            </td>
        </tr>
    </ng-template>
</p-table>